* {
  background-color: black;
  color: white;
  font-family: "Prata";
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid red;
}
.header-left {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-right {
  border: 2px solid red;
  justify-content: center;
  align-items: center;
}
.header-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header-right ul li {
  list-style-type: none;
  padding: 2%;
  font-size: 200%;
}
.header-right ul a {
  text-decoration: none;
  background-color: rgb(0 0 0);
  border: 2px solid rgb(255 193 140);
  border-radius: 3%;
}
.header-right ul a:hover {
  color: gold;
}

/* ----------------------
        container
------------------------- */
.container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.container h1 {
  line-height: 0px;
}

.container h1,
p {
  background-color: unset;
}
.content {
  height: 277px;
  width: 375px;
  background-image: url("./images/gmail-logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid orange;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
}
